In [7]:
print(8>5)
print(8==5)
print(8<5)
print(8!=5)
print(8==8.0)

True
False
False
True
True

In [6]:
x=2
y=3
print(x>=0 and y<1)
print(x>=0 or y<1)
print(x>0 or not y>1)

False
True
True

In [5]:
a=5
b=2
if a==b:
  print('a and b are equal')
elif a<b:
  print('a is smaller')
else:
  print('b is smaller')

b is smaller

In [4]:
a=0.1
b=3*a
c=0.3
print(b==c)
print(abs(b-c)<1e-10)

False
True

In [3]:
a=5
b=2
if a==b:
  print('a and b are equal')
  if a==0 and b==0:
    print ('a and b are zeros')
elif a<b:
  print('a is smaller')
else:
  print('b is smaller')

b is smaller

In [1]:
n=0
while n<8:
  print(n)
  n +=1

0
1
2
3
4
5
6
7

In [11]:
term = 1  #Load the first term in the sum
s = term  # Initialize the sum
n = 1  #Set a counter
while term > 1e-5 :
  n += 1  #Add 1 to n so that it will count: 2,3,4,5
  term = 1./n**2  #Calculate the next term to add
  s += term  #Add 1/n^2 to the running total

print(s)

1.6417844631526846

In [13]:
for n in range(8) :
  print(n)

0
1
2
3
4
5
6
7

In [14]:
for x in range(2,10,3):
  print(x)
else:
  print('Task is completed!')

2
5
8
Task is completed!

In [15]:
sum = 0
for x in range(2,10,3):
  sum +=x
print(sum)

15

In [16]:
s = 0
for n in range(1,1001):
  s +=1/n**2
print(s)

1.6439345666815615

In [17]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i +=1

1
2
3

In [18]:
s=0
for i in range(1,9,2):
  s += i
  if s == 9:
    break
print(s)

9