In [1]:
x=3
y=x
print(x)
print(y)

3
3

In [2]:
animals = ['cat', 'horse', 'dog']
animals_1 = animals
animals_1.append('cow')
print(animals)
print(animals_1)

['cat', 'horse', 'dog', 'cow']
['cat', 'horse', 'dog', 'cow']

In [3]:
animals = ['cat', 'horse', 'dog']
animals_2 = animals[:]
animals_2.append('cow')
print(animals)
print(animals_2)

['cat', 'horse', 'dog']
['cat', 'horse', 'dog', 'cow']

In [4]:
animals = ['cat', 'horse', 'dog']
sorted_animals = animals.sort()
print(animals)
print(sorted_animals)

['cat', 'dog', 'horse']
None

In [5]:
animals = ['cat', 'horse', 'dog']
sorted_animals_1 = sorted(animals)
print(animals)
print(sorted_animals_1)

['cat', 'horse', 'dog']
['cat', 'dog', 'horse']

In [6]:
nimals = ['cat', 'horse']
animals_1 = ['dog']
animals_2 = [animals]
print(animals_2)
animals_2.append(animals_1)
print(animals_2)
animals_1.append('cow')
print(animals_1)
print(animals_2)

[['cat', 'horse', 'dog']]
[['cat', 'horse', 'dog'], ['dog']]
['dog', 'cow']
[['cat', 'horse', 'dog'], ['dog', 'cow']]

In [8]:
def remove_dups(L1, L2):
  for i in L1:
    if i in L2:
      L1.remove(i)
L1 = [9, 8, 7, 6]
L2 = [7, 6, 5, 4]
remove_dups(L1, L2)
print(L1)
print(L2)

[9, 8, 6]
[7, 6, 5, 4]

In [9]:
def remove_dups(L1, L2):
  L1_copy = L1[:]
  for i in L1_copy:
    if i in L2:
      L1.remove(i)
L1 = [9, 8, 7, 6]
L2 = [7, 6, 5, 4]
remove_dups(L1, L2)
print(L1)
print(L2)

[9, 8]
[7, 6, 5, 4]

In [10]:
names = ['Jane', 'Carl', 'John', 'Kate']
grades = ['A', 'B', 'C', 'B']
def get_grade(student, names_list, grades_list):
  i = names_list.index(student)
  grade = grades_list[i]
  return (grade)
print(get_grade('Jane',names,grades))

A

In [11]:
grades = {'Jane':'A', 'Carl':'B', 'John':'C', 'Kate':'B'}
print(grades['Jane'])

A

In [16]:
grades = {'Jane':'A', 'Carl':'B', 'John':'C', 'Kate':'B'}
print(grades)
grades['Vlad'] = 'B'
print(grades)
print('Jane' in grades)
print('Dan' in grades)
del(grades['Jane'])
print(grades)
print(grades.keys())
print(grades.values())

{'Jane': 'A', 'Carl': 'B', 'John': 'C', 'Kate': 'B'}
{'Jane': 'A', 'Carl': 'B', 'John': 'C', 'Kate': 'B', 'Vlad': 'B'}
True
False
{'Carl': 'B', 'John': 'C', 'Kate': 'B', 'Vlad': 'B'}
dict_keys(['Carl', 'John', 'Kate', 'Vlad'])
dict_values(['B', 'C', 'B', 'B'])

In [17]:
def words_frequencies(some_text):
     frequency_dictionary = {}
     for word in some_text:
         if word in frequency_dictionary:
             frequency_dictionary[word] += 1
         else:
             frequency_dictionary[word] = 1
     return frequency_dictionary

text = ['Beautiful','is','better','than','ugly','Explicit','is','better','than','implicit']
print(words_frequencies(text))

{'Beautiful': 1, 'is': 2, 'better': 2, 'than': 2, 'ugly': 1, 'Explicit': 1, 'implicit': 1}