In [1]:
def amount(n):
  '''
  Input: nubmer of years.
  Returns the final amount on a bank deposit,
  P is the initial deposit (the principal),
  r is the yearly interest rate given in percent.
  '''
  P = 100
  r = 5.0
  return P*(1+r/100)**n

A = amount(1)
print(A)

105.0

In [2]:
def is_even(n):
  '''
  Input: n, a positive int.
  Returns True if n is even,
  otherwise False
  '''
  print('Number is even')
  return n%2 == 0

print(is_even(7))

Number is even
False

In [3]:
def max(x,y) :
  '''
  Input: two floats or ints.
  Returns the max value of two numbers,
  if numbers are equal returns phrase
  'Numbers are equal'
  '''
  if x==y:
    return 'Numbers are equal'
  elif x > y:
    return x
  else:
    return y

print(max(5.0,5))

Numbers are equal

In [10]:
def yfunc(t, v0=5, g=9.81) :
  """
  Input: time t, the initial velocity v0,
  the gravitational constant g.
  Returns the hight of an object in vertical motion
  """
  y = v0*t - 0.5*g*t**2
  return y

#example calls:
y1 = yfunc(0.2)
y2 = yfunc(0.2, 7.5)
y3 = yfunc(0.2,7.5,10.0)
print(y1)
print(y2)
print(y3)

0.8038
1.3037999999999998
1.3

In [11]:
def f(x):
  x=x+1
  return x

x=5
y=f(x)
print(y)

6

In [12]:
def is_even_no_return(n):
  '''
  Input: n, a positive int
  Does not return anything
  '''
  print('Number is even')
  n%2 == 0

print(is_even_no_return(7))

Number is even
None

In [13]:
def Amount(P,r,n):
  '''
  Input: the initial deposit (the principal) P,
  the yearly interest rate given in percent r,
  nubmer of years n.
  Returns the final amount on a bank deposit.
  '''
  return P*(1+r/100)**n

A1 = Amount(100, 5.0, 10)
A2 = Amount(100, r= 5.0, n=10)
A3 = Amount(r= 5, n = 10, P=100)
print(A1)
print(A2)
print(A3)

162.8894626777442
162.8894626777442
162.8894626777442

In [14]:
P = 100
r = 5
def amount(n):
  return P*(1+r/100)**n

A = amount(10)
print(A)
print(r)

162.8894626777442
5

In [15]:
P = 100
r = 5
def amount(n):
  r=4
  return P*(1+r/100)**n

A = amount(10)
print(A)
print(r)

148.02442849183444
5

In [16]:
def func_a():
  print('inside func_a')

def func_b(y):
  print('inside func_b')
  return y

def func_c(z):
  print('inside func_c')
  return z()

print(func_a())
print(5 + func_b(2))
print(func_c(func_a))

inside func_a
None
inside func_b
7
inside func_c
inside func_a
None

In [21]:
def f(x):
  return x**2 - 1

print(f(3))

8

In [22]:
f = lambda x: x**2 - 1
print(f(3))

8

In [20]:
s = lambda a, b, c : a + b + c
print(s(34, 6, 5))

45

In [ ]:
def F(n):
  return lambda a : a * n
tripler = F(3)
print(tripler(11))