In [2]:
t = (5,'cat',16.7)
print(type(t))
print(t[1:2])
print(t[1:3])
print(len(t))

<class 'tuple'>
('cat',)
('cat', 16.7)
3

In [3]:
def yfunc(t, v0=5, g=9.81):
  """
  Input: time t, the initial velocity v0,
  the gravitational constant g.
  Returns the height and the velocity
  of an object in vertical motion
  """
  y = v0*t - 0.5*g*t**2
  v = v0 - g*t
  return y,v

y,v = yfunc(0.2)
print(y,v)

0.8038 3.038

In [6]:
L = [1,2,3,4,5,6]
print(type(L))
print(L)
L[1] = 200
print(L)

<class 'list'>
[1, 2, 3, 4, 5, 6]
[1, 200, 3, 4, 5, 6]

In [7]:
L = [10,20,30,40,50,60]
L1 = L[1:3]
L2 = L[:4]
L3 = L[-3:-1]
print(L1)
print(L2)
print(L3)

[20, 30]
[10, 20, 30, 40]
[40, 50]

In [8]:
L = [10,20,30,40,50,60]
sum = 0
for i in range(len(L)):
  sum += L[i]

print(sum)

210

In [10]:
L = [10,20,30,40,50,60]
sum = 0
for i in L:
  sum += i

print(sum)

210

In [11]:
L = [9,7,5,4,2,0,5]
L.remove(5)
L.remove(2)
del(L[1])
L.pop()
print(L)

[9, 4, 0]

In [12]:
L = [9,7,5,4,2,0,5]
L.pop(5)
print(L)

[9, 7, 5, 4, 2, 5]

In [13]:
string = 'grey kitten'
L = list(string)
print(L)

['g', 'r', 'e', 'y', ' ', 'k', 'i', 't', 't', 'e', 'n']

In [14]:
string = 'grey kitten'
L1 = string.split()
print(L1)
L2 = string.split('r')
print(L2)

['grey', 'kitten']
['g', 'ey kitten']

In [15]:
L = ['K','i','t','t','y','!']
string = ''.join(L)
print(string)

Kitty!

In [16]:
L = ['K','i','t','t','y','!']
string = '_'.join(L)
print(string)

K_i_t_t_y_!

In [17]:
L = [9,7,5,4,2,0,5]
print(L)
L1 = sorted(L)
print(L1)
L.sort()
print(L)

[9, 7, 5, 4, 2, 0, 5]
[0, 2, 4, 5, 5, 7, 9]
[0, 2, 4, 5, 5, 7, 9]

In [18]:
L = [9,7,5,4,2,0,5]
L.reverse()
print(L)

[5, 0, 2, 4, 5, 7, 9]